// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

    
div.field, div {
    margin-bottom: 10px;
}


 label {
    display: block;
    cursor: default;
}

div {
    display: block;
    margin-bottom: 10px;
}